input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

.app-wrapper {
  display: flex;
  justify-content: space-around;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  margin: 8px 0;
  font-size: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.18);
  font: inherit;
  outline: none;
}

input[type="radio"] {
  height: auto;
  width: auto;
  margin: 6px;
}

label {
  display: block;
  margin: 16px 0;
  font-style: italic;
}

.errors {
  color: red;
}

[md-button] {
  margin: 0 -6px !important;
}

form md-card-actions {
  margin-bottom: -24px;
}
.custom-form{
  width:450px;
  margin:auto;
}
